{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h1>{{ notes_group.title }}</h1>

    <p>Description: {{ notes_group.description }}</p>

    <ul class="list-group">
        {% for notes in notes_list %}
        <li id="{{ notes.id }}" class="list-group-item">
            <h4><a class="text-decoration-none" href="#">{{ notes.title }}</a></h4>
            <form action={% url 'note_update' notes.id %} method="post">
                {% csrf_token %}
                <textarea name="card_content">{{ notes.content }}</textarea>
                <button></button>
            </form>
            
        </li>
        {% endfor %}
    </ul>

</div>

<script>
    
</script>

{% endblock %}