{% extends 'base.html' %}
{% block content %}


<div class="container">

    <header class="d-flex flex-wrap justify-content-center">
        <h1 class="text-center m-3">Tus notas preferidas</h1>
        
    </header>

    <div class="d-flex flex-wrap justify-content-center">
        {% for note in notes %}
                <div class="card m-5" style="width: 20%;">
                    <div class="card-header d-flex">
                        <h5>{{ note.title }}</h5>
                        <p>{{ note.notes_group_id }}</p>
                    </div>
                    <div class="card-body">
                        <p>{{ note.content }}</p>
                    </div>
                    
                </div>
        {% endfor %}
    </div>
</div>


{% endblock %}